{% extends 'main.html' %}

{% block title %} Online Testing System Candidate Home Page {% endblock %}

{% block top%}
<a href="{% url 'Online_Testing_System:home' %}">Home</a>
<a href="{% url 'Online_Testing_System:logout' %}">logout</a>
{% endblock %}
{% block content %}
<h1>Welcome {{request.session.name}}, to your home page</h1>
<div class="button-link">
    <a href="{% url 'Online_Testing_System:testPaper' %}?n=1">Test of 1 Question</a>
</div>
<div class="button-link">
    <a href="{% url 'Online_Testing_System:testPaper' %}?n=3">Test of 3 Question</a>
</div>
<div class="button-link">
    <a href="{% url 'Online_Testing_System:testPaper' %}?n=5">Test of 5 Question</a>
</div>

<div class="button-link">
    <a href="{% url 'Online_Testing_System:testHistory' %}">Test History</a>
</div>
{% endblock %}