{% extends 'main.html' %}

{% block title %} Welcome tp Online Testing System Login Form {% endblock %}

{% block top%}
<a href="{% url 'Online_Testing_System:registrationForm' %}">signup</a>

{% endblock %}
{% block content %}
<div class="all-forms">
    {% if loginError %}
    <div id="error">{{loginError}}</div>
    {% endif %}
    <form action="{% url 'Online_Testing_System:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-unit">
            <label for="username">Username</label>
            <input type="text", name="username">
        </div>
        <div class="form-unit">
            <label for="password">Password</label>
            <input type="password", name="password">
        </div>
        <div class="form-unit">
            <input type="submit" value="Login">
            <input type="reset" value="Clear">
        </div>
    </form>
    New user<a href="{% url 'Online_Testing_System:login' %}">Click here</a>
</div>
{% endblock %}